# Data files #
*.csv
*.json
!application.json
*.log
*.db
*.vscode

# Distribution files # 
dist
*.egg-info
*.bat

# Python files #
main.py
__pycache__

# doc #
doc/build
make.bat

# tox testing tool
*tox
tox.ini

# OS related #
.DS_Store